.rating {
    padding: 50px 0;

    &__inner {
        display: flex;
        column-gap: 50px;
        padding-top: 62px;
        position: relative;

        /*Tablet*/
        @media (max-width: 1199px) {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__status {
        width: 600px;
        height: 358px;
        flex-shrink: 0;
        background-image: url("./../images/rating/rating-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: end;
        justify-content: flex-end;

        /*Mobile*/
        @media (max-width: 767px) {
            width: 500px;
            height: 270px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            width: 290px;
        }
    }

    &__flag {
        padding-top: 5px;
        padding-bottom: 20px;
        position: absolute;
        background: #FEFEFF;
        box-shadow: 22.7108px 22.7108px 42.1772px rgba(146, 106, 120, 0.16);
        top: 0;
        left: 62px;
        width: 132px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #054457;
    }

    &__tick {
        width: 28px;
        height: 28px;
        margin-bottom: 12px;

    }

    &__number {
        font-size: 46px;
    }

    &__stars {
        margin-bottom: 10px;
    }

    &__trusted {
        width: 70px;
        font-size: 12px;
        text-align: center;

        & span {
            display: block;
            color: #a6a6a6;
        }
    }

    &__statistics {
        padding: 10px 20px;
        display: flex;
        background-color: #fff;
        column-gap: 15px;

        /*XS Mobile*/
        @media (max-width: 599px) {
            padding: 5px;
            column-gap: 9px;

        }
    }

    &__deals {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    &__amount {
        color: #054457;
        font-weight: 600;
        font-size: 32px;

        /*XS Mobile*/
        @media (max-width: 599px) {
            font-size: 20px;

        }
    }

    &__property {
        color: #A6A6A6;
    }
}

.rating {
    &__descr {
        display: flex;
        flex-direction: column;

        @media (max-width: 1199px) {
            row-gap: 20px;
        }
    }

    &__title {
        max-width: 540px;
        font-weight: 600;
        color: #054457;
        margin-bottom: 10px;

        /*Mobile*/
        @media (max-width: 767px) {
            font-size: 36px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            font-size: 28px;

        }
    }

    &__text {
        color: #73788C;
        line-height: 1.6;
    }

    &__btn {
        display: inline-block;
        background-color: #69B99D;
        color: #fff;
        transition: box-shadow ease-in .2s, color ease-in .2s, background-color ease-in .2s;
        margin-top: auto;
        text-align: center;

        &:hover {
            background-color: #125e43;
            ;
            box-shadow: 15.5731px 15.5731px 42.1772px rgba(81, 140, 119, 0.24);
        }
    }
}