* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// :focus,
// :active {
//     outline: none;
// }

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

// a:focus,
// a:active {
//     outline: none;
// }

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
}

ul {
    list-style: none;
}

img,
svg {
    display: block;
    // width: 100%;
    height: auto;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

select {
    outline: none;
    appearance: none;
    background-color: #fff;
}